<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" name="email" id="email" formControlName="email" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="pass" id="pass" formControlName="password" />
    </div>
    <div class="form-group">
        <label for="passConfirm">Confirm password:</label>
        <input type="password" class="form-control" name="passConfirm" id="passConfirm" formControlName="passConfirm" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
        <small class="form-text text-muted" *ngIf="loginForm.get('email').invalid || loginForm.get('password').invalid">
            Username or password is incorrect.
          </small>
</form>

<form #loginForm2="ngForm" (ngSubmit)="onFormSubmit(loginForm2)" class="mt-4">
    <div class="form-group">
        User Name: <input type='text' class="form-control" name='username' ngModel>
    </div>
    <div class="grom-group">
        Password: <input type="password" class="form-control" name="password" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>